.firstPara{
  width: 55%;
  text-align: center;
  margin: auto;
}
.bold{
  font-weight: bold;
}
.blue{
  color: blue;
  text-decoration: underline;
}
.category{
  display: flex;
  width: 25%;
  margin: auto;
  margin-top: 30px;
}
.categoryP{
  color: gray;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .firstPara{
   width: 98%;
  }
  .category{
   width: 100%;
  }
  .opt{
    position: inherit;
  }
}