* {
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

.span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}